.app{
  background-color: black ;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  color: white;
  padding-bottom: 10px;
}
.movie-list{
  padding-left: 8px;

}
/* nav */
.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
/* nav */
/* banner */
.banner{
  height: 400px;
  width: auto;
  display: flex; 
  align-items: center; /* 세로정렬 */
  background-size: cover;
  background-position: center;
}
.banner-info{
  width: 40%;
  margin-left: 30px;
  color: white;
}
/* banner */
/* card */
.card{
  width: 180px;
  height: 100px;
}
.card_img{
  border-radius: 20px;
  border: 1px rgb(35, 34, 34) solid;
  
}
#card-badge{
  margin-right: 3px;
  margin: 20px;
  border: 3px black solid;
  background-color: red;
  color: red;
}
.overlay  {
  opacity: 0;
  background: rgb(66, 64, 64);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 15px;
  border-radius: 20px;
}
.card_over_18{
  color: red;
}
.card:hover .overlay{
  opacity: 0.9;
}
/* card */


/* Detail */
.Detail_Row1{
  margin-bottom: 100px;
}
.Detail_img{
  height: 700px;
  width: 500px;
  /* height: 400px;
  width: 300px; */
  margin-left: 50px;
  margin-top: 18px;
  border: 1px rgb(23, 23, 23) solid;
}
.Detail_info{
  margin-right: 50px;
}
.Detail{
  padding-top: 80px;
}
.Detail_title{
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Detail_tagline{
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.imdb  {
  width: 32px;
  height:18px;
  margin-right: 5px;
  margin-bottom: 3px;
}
.people{
  width: 29px;
  height: 28px;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 3px;
}
.Detail_badge{
  margin-top: 10px;
  margin-right: 5px;
  width: 100px;
}
.Detail_Button{
  margin-left: 50px;
  margin-bottom: 30px;
}
.Detail_Button1{
  margin-right: 15px;
}
.Detail_review{
  margin-left: 50px;
  margin-right: 50px;
  border: 3px solid white;
  padding: 30px;
  font-size: 15px;
  
}
hr {
  width: 100%;
  height: 3px;
  background-color: white;
}
